In [2]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.9/dist-packages (0.12.2)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.4.4)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.9.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.0)
Requirement already satisfied: pyproj>=2.6.1.post1 in /usr/local/lib/python3.9/dist-packages (from geopandas) (3.5.0)
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (6.1.0)
Requirement already satisfied: munch>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.15.0)

In [18]:
import numpy as np
import pandas as pd
import tensorflow as tf
from geopy import distance
import geopandas
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

import keras 
from keras.models import Sequential
from keras.layers import Dense, Dropout
import tensorflow as tf
from keras.utils import np_utils
from geopy.distance import distance
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.utils import class_weight
from sklearn.utils.class_weight import compute_class_weight

# Assignment 4 - Simple Neural Networks

For this assigment you'll do a realistic task - predicting fraud from transaction data. 
### Some Things to Note

<ul>
<li> The dataset is imbalanced. See: https://www.tensorflow.org/tutorials/structured_data/imbalanced_data for some ideas
<li> The locations, time, dob all likely aren't super useful on their own, but can be made into something more useful without much code or trouble. Think about how it may be useful to represent them. The data doesn't have missing rows, so this is the main data prep portion. 
<li> With respect to the above, and the other data here, we have a lot of rows of data. That means that we can generally handle data that is reasonably wide...
</ul>

### Deliverables

Your final goal is to produce a function that can be called to classify a transaction:
<ul>
<li> Please submit two .ipynb files - one where you did your work, and another that can use your model to make predictions. 
<li> In that prediction file, please ensure:
    <ul>
    <li> You have a function where I can load a file, and the end result is a classificaiton matrix of your prediction accuracy. 
    <li> You load a trained model. There's no training here. 
    <li> Any data prep stuff that is needed for your data should be built in here. I'm going to run a test file that is the exact same setup as the training data.
    <li> I should be able to open the prediction file, load the test data, and click RUN ALL and things should work. 
    <li> In addition to that, please include a short (~1-2 paragraph) description of what you did. Include anything that was innovative/different as well as a note on:
        <ul>
        <li> Any imbalanced data steps. 
        <li> Treatment of the location and time variables. What did you do to them?
        <li> Model structure (layers/size)
        <li> Any optimization steps included - regularization, dropouts, feature selection, etc...
        </ul>
    </ul>
</ul>

### Grades

The grade breakdown is as follows:

<ul>
<li> Code preduces predictions - 40
<li> Accuracy - 30
<li> Explaination - 20
<li> Balance/variable transformations - 10
</ul>

In [2]:
# Load some data
df = pd.read_csv("https://jrssbcrsefilesnait.blob.core.windows.net/3950data1/fraudTrain.csv.zip")
df.drop(columns={"Unnamed: 0"}, inplace=True)
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [3]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
trans_date_trans_time,1296675,1274791,2019-04-22 16:02:01,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cc_num,1296675.0,NaN,NaN,NaN,417192042079641088.0,1308806447000789248.0,60416207185.0,180042946491150.0,3521417320836166.0,4642255475285942.0,4992346398065154048.0
merchant,1296675,693,fraud_Kilback LLC,4403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category,1296675,14,gas_transport,131659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
amt,1296675.0,NaN,NaN,NaN,70.351035,160.316039,1.0,9.65,47.52,83.14,28948.9
first,1296675,352,Christopher,26669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,1296675,481,Smith,28794,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,1296675,2,F,709863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
street,1296675,983,0069 Robin Brooks Apt. 695,3123,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city,1296675,894,Birmingham,5617,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,1296675,51,TX,94876,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip,1296675.0,NaN,NaN,NaN,48800.671097,26893.222476,1257.0,26237.0,48174.0,72042.0,99783.0
lat,1296675.0,NaN,NaN,NaN,38.537622,5.075808,20.0271,34.6205,39.3543,41.9404,66.6933
long,1296675.0,NaN,NaN,NaN,-90.226335,13.759077,-165.6723,-96.798,-87.4769,-80.158,-67.9503
city_pop,1296675.0,NaN,NaN,NaN,88824.440563,301956.360689,23.0,743.0,2456.0,20328.0,2906700.0
job,1296675,494,Film/video editor,9779,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dob,1296675,968,1977-03-23,5636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trans_num,1296675,1296675,0b242abb623afc578575680df30655b9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unix_time,1296675.0,NaN,NaN,NaN,1349243636.726123,12841278.42336,1325376018.0,1338750742.5,1349249747.0,1359385375.5,1371816817.0
merch_lat,1296675.0,NaN,NaN,NaN,38.537338,5.109788,19.027785,34.733572,39.36568,41.957164,67.510267
merch_long,1296675.0,NaN,NaN,NaN,-90.226465,13.771091,-166.671242,-96.897276,-87.438392,-80.236796,-66.950902
is_fraud,1296675.0,NaN,NaN,NaN,0.005789,0.075863,0.0,0.0,0.0,0.0,1.0

### Deal with Lat/Lon

We can utilize lat/lon of the home and merchant in a useful way?

Note: I left the section headers in from when I did it. You can remove them if you want.

## Using the geopy library to calculate the distance between the home and merchant in miles. We define a function calc_distance that takes the lat/lon coordinates of the home and merchant as input and returns the distance in miles. We then apply this function to each row of the DataFrame using the apply method, and store the results in a new column  'distance'.

In [4]:
# Define a function to calculate the distance between two sets of lat/lon coordinates
def calc_distance(home_lat, home_lon, merch_lat, merch_lon):
    home_coords = (home_lat, home_lon)
    merch_coords = (merch_lat, merch_lon)
    return distance(home_coords, merch_coords).miles

In [5]:
# Calculate the distance between the home and merchant for each transaction
df['distance'] = df.apply(lambda x: calc_distance(x['lat'], x['long'], x['merch_lat'], x['merch_long']), axis=1)

In [6]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,distance
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,48.947783
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,18.775736
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,67.172035
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,59.455974
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,48.282030

### Deal with Time

Can we make date/time and the date of birth into something useful?

In [7]:
# Convert trans_date_trans_time column to datetime format
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

# Extract hour, day of the week, month, and year from trans_date_trans_time column
df['hour'] = df['trans_date_trans_time'].dt.hour
df['day_of_week'] = df['trans_date_trans_time'].dt.dayofweek
df['month'] = df['trans_date_trans_time'].dt.month
df['year'] = df['trans_date_trans_time'].dt.year

# Convert dob column to datetime format
df['dob'] = pd.to_datetime(df['dob'])

# Calculate age of person at the time of transaction
df['age'] = (df['trans_date_trans_time'] - df['dob']).astype('<m8[Y]')

In [8]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,unix_time,merch_lat,merch_long,is_fraud,distance,hour,day_of_week,month,year,age
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,1325376018,36.011293,-82.048315,0,48.947783,0,1,1,2019,30.0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,1325376044,49.159047,-118.186462,0,18.775736,0,1,1,2019,40.0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,1325376051,43.150704,-112.154481,0,67.172035,0,1,1,2019,56.0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,1325376076,47.034331,-112.561071,0,59.455974,0,1,1,2019,51.0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,1325376186,38.674999,-78.632459,0,48.282030,0,1,1,2019,32.0

### Check Target Balance

In [9]:
# Examine the class label imbalance
neg, pos = np.bincount(df['is_fraud'])
total = neg + pos
print('Examples:\n    Total: {}\n    Positive: {} ({:.2f}% of total)\n'.format(
    total, pos, 100 * pos / total))

Examples:
    Total: 1296675
    Positive: 7506 (0.58% of total)

### Prepare Data

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 28 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  datetime64[ns]
 1   cc_num                 1296675 non-null  int64
 2   merchant               1296675 non-null  object
 3   category               1296675 non-null  object
 4   amt                    1296675 non-null  float64
 5   first                  1296675 non-null  object
 6   last                   1296675 non-null  object
 7   gender                 1296675 non-null  object
 8   street                 1296675 non-null  object
 9   city                   1296675 non-null  object
 10  state                  1296675 non-null  object
 11  zip                    1296675 non-null  int64
 12  lat                    1296675 non-null  float64
 13  long                   1296675 non-null  float64
 14  city_pop               1296675 non-null  int64
 15  job                    1296675 non-null  object
 16  dob                    1296675 non-null  datetime64[ns]
 17  trans_num              1296675 non-null  object
 18  unix_time              1296675 non-null  int64
 19  merch_lat              1296675 non-null  float64
 20  merch_long             1296675 non-null  float64
 21  is_fraud               1296675 non-null  int64
 22  distance               1296675 non-null  float64
 23  hour                   1296675 non-null  int64
 24  day_of_week            1296675 non-null  int64
 25  month                  1296675 non-null  int64
 26  year                   1296675 non-null  int64
 27  age                    1296675 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(9), object(10)
memory usage: 277.0+ MB

In [11]:
# Drop unnecessary columns
df = df.drop(['trans_date_trans_time', 'first', 'last', 'dob', 'lat', 'long', 'merch_lat', 'merch_long', 'street', 'city', 'state', 'zip', 'trans_num'], axis=1)

# Split data into features and target
X = df.drop('is_fraud', axis=1)
y = df['is_fraud']

### Split Data

In [12]:
# One-hot encoding categorical variables
X = pd.get_dummies(X, columns=['category', 'gender', 'merchant', 'job'])

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features by removing the mean and scaling to unit variance
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### Model

In [21]:
from sklearn.utils.class_weight import compute_class_weight
# Compute class weights for imbalanced data
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)

# Convert class weights to a dictionary to be used with keras
class_weights = dict(enumerate(class_weights))

# Define the model
model = Sequential()
model.add(Dense(16, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model with class weights
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model with class weights
model.fit(X_train, y_train, epochs=50, batch_size=32, class_weight=class_weights)

Epoch 1/50
32417/32417 [==============================] - 64s 2ms/step - loss: 0.4351 - accuracy: 0.9013
Epoch 2/50
32417/32417 [==============================] - 54s 2ms/step - loss: 0.3482 - accuracy: 0.9625
Epoch 3/50
32417/32417 [==============================] - 54s 2ms/step - loss: 0.3107 - accuracy: 0.9786
Epoch 4/50
32417/32417 [==============================] - 55s 2ms/step - loss: 0.2907 - accuracy: 0.9728
Epoch 5/50
32417/32417 [==============================] - 54s 2ms/step - loss: 0.2774 - accuracy: 0.9640
Epoch 6/50
32417/32417 [==============================] - 54s 2ms/step - loss: 0.2723 - accuracy: 0.9557
Epoch 7/50
32417/32417 [==============================] - 54s 2ms/step - loss: 0.2695 - accuracy: 0.9482
Epoch 8/50
32417/32417 [==============================] - 54s 2ms/step - loss: 0.2703 - accuracy: 0.9501
Epoch 9/50
32417/32417 [==============================] - 54s 2ms/step - loss: 0.2698 - accuracy: 0.9498
Epoch 10/50
32417/32417 [==============================] - 55s 2ms/step - loss: 0.2777 - accuracy: 0.9476
Epoch 11/50
32417/32417 [==============================] - 56s 2ms/step - loss: 0.2759 - accuracy: 0.9434
Epoch 12/50
32417/32417 [==============================] - 55s 2ms/step - loss: 0.2731 - accuracy: 0.9440
Epoch 13/50
32417/32417 [==============================] - 69s 2ms/step - loss: 0.2714 - accuracy: 0.9392
Epoch 14/50
32417/32417 [==============================] - 67s 2ms/step - loss: 0.2742 - accuracy: 0.9371
Epoch 15/50
32417/32417 [==============================] - 84s 3ms/step - loss: 0.2968 - accuracy: 0.9359
Epoch 16/50
32417/32417 [==============================] - 75s 2ms/step - loss: 0.2841 - accuracy: 0.9398
Epoch 17/50
32417/32417 [==============================] - 79s 2ms/step - loss: 0.2831 - accuracy: 0.9382
Epoch 18/50
32417/32417 [==============================] - 69s 2ms/step - loss: 0.2830 - accuracy: 0.9396
Epoch 19/50
32417/32417 [==============================] - 70s 2ms/step - loss: 0.2855 - accuracy: 0.9407
Epoch 20/50
32417/32417 [==============================] - 73s 2ms/step - loss: 0.2893 - accuracy: 0.9408
Epoch 21/50
32417/32417 [==============================] - 77s 2ms/step - loss: 0.3123 - accuracy: 0.9343
Epoch 22/50
32417/32417 [==============================] - 61s 2ms/step - loss: 0.2848 - accuracy: 0.9407
Epoch 23/50
32417/32417 [==============================] - 57s 2ms/step - loss: 0.2851 - accuracy: 0.9408
Epoch 24/50
32417/32417 [==============================] - 58s 2ms/step - loss: 0.2955 - accuracy: 0.9409
Epoch 25/50
32417/32417 [==============================] - 58s 2ms/step - loss: 0.3078 - accuracy: 0.9355
Epoch 26/50
32417/32417 [==============================] - 58s 2ms/step - loss: 0.2927 - accuracy: 0.9402
Epoch 27/50
32417/32417 [==============================] - 63s 2ms/step - loss: 0.2896 - accuracy: 0.9352
Epoch 28/50
32417/32417 [==============================] - 62s 2ms/step - loss: 0.3069 - accuracy: 0.9324
Epoch 29/50
32417/32417 [==============================] - 59s 2ms/step - loss: 0.2983 - accuracy: 0.9282
Epoch 30/50
32417/32417 [==============================] - 58s 2ms/step - loss: 0.2825 - accuracy: 0.9321
Epoch 31/50
32417/32417 [==============================] - 58s 2ms/step - loss: 0.2828 - accuracy: 0.9303
Epoch 32/50
32417/32417 [==============================] - 60s 2ms/step - loss: 0.2832 - accuracy: 0.9303
Epoch 33/50
32417/32417 [==============================] - 59s 2ms/step - loss: 0.2923 - accuracy: 0.9315
Epoch 34/50
32417/32417 [==============================] - 70s 2ms/step - loss: 0.2816 - accuracy: 0.9270
Epoch 35/50
32417/32417 [==============================] - 80s 2ms/step - loss: 0.2786 - accuracy: 0.9255
Epoch 36/50
32417/32417 [==============================] - 76s 2ms/step - loss: 0.2780 - accuracy: 0.9207
Epoch 37/50
32417/32417 [==============================] - 80s 2ms/step - loss: 0.2804 - accuracy: 0.9189
Epoch 38/50
32417/32417 [==============================] - 76s 2ms/step - loss: 0.2805 - accuracy: 0.9169
Epoch 39/50
32417/32417 [==============================] - 79s 2ms/step - loss: 0.2851 - accuracy: 0.9132
Epoch 40/50
32417/32417 [==============================] - 65s 2ms/step - loss: 0.2854 - accuracy: 0.9050
Epoch 41/50
32417/32417 [==============================] - 62s 2ms/step - loss: 0.2876 - accuracy: 0.8945
Epoch 42/50
32417/32417 [==============================] - 75s 2ms/step - loss: 0.2897 - accuracy: 0.8948
Epoch 43/50
32417/32417 [==============================] - 64s 2ms/step - loss: 0.2959 - accuracy: 0.8968
Epoch 44/50
32417/32417 [==============================] - 67s 2ms/step - loss: 0.3173 - accuracy: 0.8880
Epoch 45/50
32417/32417 [==============================] - 62s 2ms/step - loss: 0.2928 - accuracy: 0.8898
Epoch 46/50
32417/32417 [==============================] - 61s 2ms/step - loss: 0.2955 - accuracy: 0.8900
Epoch 47/50
32417/32417 [==============================] - 63s 2ms/step - loss: 0.2984 - accuracy: 0.9204
Epoch 48/50
32417/32417 [==============================] - 67s 2ms/step - loss: 0.2999 - accuracy: 0.9639
Epoch 49/50
32417/32417 [==============================] - 62s 2ms/step - loss: 0.3060 - accuracy: 0.9860
Epoch 50/50
32417/32417 [==============================] - 62s 2ms/step - loss: 0.3012 - accuracy: 0.9883

In [23]:
model.evaluate(X_test, y_test)

8105/8105 [==============================] - 11s 1ms/step - loss: 0.3050 - accuracy: 0.9882

[0.30497172474861145, 0.9882429838180542]

'compute_class_weight()' is a function from scikit-learn that calculates class weights to be used to handle class imbalance in the dataset. The 'balanced' option means that the class weights will be inversely proportional to the class frequencies in the input data.

The calculated class weights are then converted into a dictionary using dict(enumerate(class_weights)) to be passed to the class_weight parameter of model.fit().

The neural network model has one input layer, two hidden layers with 16 and 8 nodes respectively, and one output layer with a sigmoid activation function. The relu activation function is used in the hidden layers.

The model is then compiled with binary cross-entropy loss and the Adam optimizer, and accuracy is set as the metric to be evaluated during training. Finally, the model is trained on the training data with the class_weight parameter set to the previously calculated class weights.

In [24]:
# Save my model
model.save('model_path.h5')

In [ ]:
#model = keras.models.load_model('model_path')